body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

h1 {
    color: #DB468D; 
    font-size: 24px;
    margin-bottom: 15px;
}

.back-link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #B6922E; 
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.back-link:hover {
    color: #866b21; 
}

.user-list {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
}

.user-list div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #DB468D; 
}

.user-list div:last-child {
    border-bottom: none;
}

button {
    padding: 7px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

button.edit {
    background-color: #DB468D; 
    color: white;
}

button.edit:hover {
    background-color: #a82464; 
}

button.delete {
    background-color: #B6922E; 
    color: white;
}

button.delete:hover {
    background-color: #866b21; 
}

.centered-image {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 10px auto;
    position: relative;
}

.centered-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.back-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 10px auto 20px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #DB468D; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.back-button i {
    margin-right: 5px;
}

.back-button:hover {
    background-color: #a82464; 
}
